*.o
*.lo
*~
*.la
*.pc
*.tgz
*.gz
.dirstamp

Makefile
Makefile.in
m4/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps/
.libs/
stamp-h1
INSTALL

windows/Debug/
windows/Release/
windows/libdmclient.opensdf
windows/libdmclient.sdf
windows/libdmclient.sln
windows/libdmclient.*.suo
windows/libdmclient.*.log



